<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel 讀取與 Vuetify DataTable 複選過濾示例</title>
    <!-- 引入 Vuetify 和 Vue.js -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.10/dist/vuetify.min.css" rel="stylesheet">
    <link href="./Content/base.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.10/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.17.4/dist/xlsx.full.min.js"></script>
    <script src="./Content/common.js"></script>
    <script src="./Content/getRealTime.js"></script>
</head>

<body>
    <div id="app">
        <v-app>
            <v-container style="max-width: 95%;">
                <v-row no-gutters>
                    <v-col col="4">
                        <v-btn color="primary" @click="window.location.href=location.href +'&sync=Y'">SYNC</v-btn>
                        <v-btn color="primary" @click="app.sync_realtime()
                                                       app.sync=true ">SYNC</v-btn>
                        <v-btn color="primary" @click="app.sync_data() ">sync_data</v-btn>

                        <v-btn color="primary" @click="openNextPage(-1)" v-show="paraDate">last</v-btn>
                        <span>data count {{filteredData.map(x=>x.stock_number).length}}</span>
                        <v-btn color="primary" @click="openNextPage(1)" v-show="paraDate">Next</v-btn>
                    </v-col>
                    <v-col col="4">
                        <v-btn color="primary" @click="reset">reset</v-btn>
                        <v-btn color="primary" @click="reverse">reverse</v-btn>
                        <v-btn color="primary" @click="setCache()">set</v-btn>
                        <v-btn color="primary" @click="getCache()">get</v-btn>
                        <v-btn color="primary" @click="setCache2()">set2</v-btn>
                        <v-btn color="primary" @click="getCache2()">get2</v-btn>
                    </v-col>
                    <v-col col="4">

                        <v-btn color="primary" @click=" 
                                    app.jsonData = app.jsonData_.filter(x => true 
                                        &&( x.MACD_last_cross_date>=app.paraDateMinus(10)
                                        || x.highlight_date==app.paraDate_str().replaceAll('/','-')
                                        || x.MA_last_cross_date==app.paraDate_str()
                                     ))
                                    app.sortBy = ['diff_quote', 'LevelArea']// ,'diff_quote'
                                    app.sortDesc = [true, true]
                        
                        "></v-btn>
                        <v-btn color="primary" @click="
                                    app.jsonData = app.jsonData_.filter(x => true
                                        && x.txt>0.5 
                                        && x.txts>1.8 
                                        && parseFloat(x['MACD_hist_diff']) > 0
                                        //&& x.highlight_date==app.paraDate_str().replaceAll('/','-')
                                        && x.MA_last_cross_date==app.paraDate_str()//.replaceAll('/','-')
                                    )
                                    app.sortBy = ['voc_cross_d', 'LevelArea']// ,'diff_quote'
                                    app.sortDesc = [true, true]
                        ">CHRCK</v-btn>

                         <v-btn color="primary" @click="
                                    app.jsonData=app.jsonData_.filter(x=> true
                                        && x.MACD_last_cross_date>=app.paraDateMinus(30)
                                        && x.MACD_last_cross_date<=app.paraDate_str
                                        && parseFloat(x['Volume_MA_short']) > parseFloat(x['Volume_MA_long'])
                                        // && parseFloat(x['Volume_MA_long']) > parseFloat(x['Volume_MA_long50'])
                                        && parseFloat(x['MACD']) > parseFloat(x['MACD-SL'])
                                        && parseFloat(x['MACD_hist_diff']) > 0
                                        && parseFloat(x['成交股數']) > 100
                                        )     
                                    app.sortBy =[ '分類標籤','MACD_hist_diff','txt'];
                                    app.sortDesc = [true,true,true]
                        ">近期觀察</v-btn>
                        <v-btn color="primary" @click="
                                    app.jsonData = app.jsonData_.filter(item => true
                                        && item['MACD_last_cross_date'] != ''
                                        && item['MA_last_cross_date'] != ''
                                        && parseFloat(item['成交股數']) > 800
                                        && parseFloat(item['MACD_hist_diff']) > 0
                                    // && parseFloat(item['now_price']) > parseFloat(item['MACD_death_cross_d收盤價'])
                                    )
                                    app.sortBy = ['MA_last_cross_date', 'MACD_last_cross_date', 'MA_last_cross_%'];
                                    app.sortDesc = [true, true, true]
                        ">完全轉好</v-btn>

                        <v-btn color="primary" @click="  
                                    app.jsonData = app.jsonData_.filter(item => true
                                        // XXX &&  parseFloat( item['Volume_MA_short'])> parseFloat(item['Volume_MA_long50']*1.05) 
                                        && parseFloat(item['Volume_MA_short']) > parseFloat(item['Volume_MA_long']) * 0.9
                                        && parseFloat(item['Volume_MA_long50']) > parseFloat(item['成交金額平均']) * 0.8
                                        && parseFloat(item['MACD']) > parseFloat(item['MACD-SL']) - 0.03
                                        && parseFloat(item['now_price']) > parseFloat(item['MA_longlong'] * 1.04)
                                        && parseFloat(item['成交股數']) > 1000
                                        && parseFloat(item['量能']) > 10
                                        //&&  item.stock_number=='8039'
                                    )
                                    app.sortBy = ['LevelArea', 'txt', 'rt_量',];
                                    app.sortDesc = [true, true, true]

                                    app.jsonData = app.jsonData.filter(item => (parseFloat(item['txt']) > 0.7))                
                        ">預測(當沖)</v-btn>
                        <!--// 回檔 抓放量攻擊-->
                        <v-btn color="primary" @click="     
                                    app.jsonData = app.jsonData_.filter(item => true
                                        && item['分類標籤'].includes('d1')
                                        && parseFloat(item['Volume_MA_short']) > parseFloat(item['Volume_MA_long']) * 0.5
                                        && parseFloat(item['Volume_MA_long50']) > parseFloat(item['成交金額平均']) * 0.4
                                        && parseFloat(item['MACD']) > parseFloat(item['MACD-SL']) - 0.03
                                        && parseFloat(item['now_price']) > parseFloat(item['MA_longlong'] * 1)
                                        //&&  parseFloat( item['成交股數'])>1000 
                                        &&  parseFloat( item['LevelArea']) >-90
                                        //&&  item.stock_number=='4916'
                                    )
                                    app.sortBy = ['MA_last_cross_date', 'txt', 'LevelArea', 'rt_量',];
                                    app.sortDesc = [true, true, true, true]
                        ">預測(趨勢)</v-btn>



                    </v-col>
                </v-row>
                <!-- Vuetify DataTable  -->
                <v-data-table disable-pagination fixed-header height="90vh" hide-default-footer :headers="appheaderData"
                    v-show="appmode" :items="appfilteredData" :items-per-page="-1" item-key="id" :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc" :mobile-breakpoint="0" style="white-space: nowrap;">
                    <template v-slot:item.stock_number="{ item }">
                        <v-btn text @click="openDialog(item)">
                            {{ item.stock_number }} {{ item.Type0 }}
                        </v-btn>
                    </template>
                    <template v-slot:item.rt_price="{ item }">
                        <span style="color: rgb(124, 169, 173);"
                            v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.a">
                            {{(((realtimedata.filter(x=>x.c==item.stock_number)[0]?.a / item.now_price)-1
                            )*100).toFixed(1)}}
                        </span>
                    </template>
                    <template v-slot:item.rt_量="{ item }">
                        <span style="color: rgb(124, 169, 173);"
                            v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.a">
                            {{(realtimedata.filter(x=>x.c==item.stock_number)[0]?.v/parseFloat(item.成交股數)).toFixed(1)}}
                        </span>
                    </template>
                </v-data-table>

                <v-data-table disable-pagination fixed-header height="95vh" hide-default-footer :headers="headers"
                    :items="filteredData" v-show="!appmode" :items-per-page="-1" item-key="id" :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc" style="white-space: nowrap;">
                    <!-- 自訂第一個欄位為超連結 -->
                    <template v-slot:item.stock_number="{ item }">
                        <v-btn text @click="openDialog(item)">
                            {{ item.stock_number }} {{ item.Type0 }} {{item['Volume_%']}}
                        </v-btn>
                    </template>
                    <template v-slot:item.stock_name="{ item }">
                        <v-btn text @click="openDialog(item)">
                            {{ item.stock_number }} {{ item.Type0 }} {{item['Volume_%']}}
                        </v-btn>
                    </template>

                    <template v-slot:item.now_price="{ item }">
                        <v-btn text @click="openDialog(item)">
                            <span style="color: rgb(124, 169, 173);"
                                v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.g">
                                {{realtimedata.filter(x=>x.c==item.stock_number)[0]?.g}} |
                                {{realtimedata.filter(x=>x.c==item.stock_number)[0]?.b}}
                            </span>
                            {{ item.now_price }}
                            <span style="color: rgb(124, 169, 173);"
                                v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.g">
                                {{realtimedata.filter(x=>x.c==item.stock_number)[0]?.a}}|
                                {{realtimedata.filter(x=>x.c==item.stock_number)[0]?.f}}
                            </span>
                        </v-btn>
                    </template>

                    <template v-slot:item.rt_price="{ item }">
                        <span style="color: rgb(124, 169, 173);"
                            v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.a">
                            {{(((realtimedata.filter(x=>x.c==item.stock_number)[0]?.a / item.now_price)-1
                            )*100).toFixed(1)}}
                        </span>
                    </template>
                    <template v-slot:item.rt_量="{ item }">
                        <span style="color: rgb(124, 169, 173);"
                            v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.a">
                            {{(realtimedata.filter(x=>x.c==item.stock_number)[0]?.v/parseFloat(item.成交股數)).toFixed(1)}}
                        </span>
                    </template>

                    <template v-slot:item.成交股數="{ item }">
                        <v-btn text @click="openDialog(item)">
                            {{ item.成交股數 }} <span style="color: rgb(124, 169, 173);"
                                v-show="realtimedata.filter(x=>x.c==item.stock_number)[0]?.g">
                                ({{realtimedata.filter(x=>x.c==item.stock_number)[0]?.v}})</span>
                        </v-btn>
                    </template>
                </v-data-table>
                <!-- 弹出窗口 -->
                <v-dialog v-model="dialog" max-width="90vw">
                    <v-card>
                        <v-card-title class="headline">{{ selectedItem?.stock_number }}</v-card-title>
                        <v-card-text style="padding: 0; height:90vh;">

                            <a v-if="selectedItem?.Type2=='上市'"
                                :href="`https://tw.tradingview.com/chart/?symbol=TWSE%3A${selectedItem?.stock_number}`"
                                target="_blank"> TradingView </a>
                            <a v-if="selectedItem?.Type2!='上市'"
                                :href="`https://tw.tradingview.com/chart/?symbol=TPEX%3A${selectedItem?.stock_number}`"
                                target="_blank"> TradingView </a>
                            <!-- 在這裡添加iframe -->
                            <iframe v-if="selectedItem"
                                :src="`${url}[${selectedItem.stock_number}]${selectedItem.Type.replace('*', '')}.html`"
                                width="80%" frameborder="0" style="padding: 0; height:80vh;">
                            </iframe>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" text @click="dialog = false">Close</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

            </v-container>
        </v-app>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    appmode: false,
                    sync: false,
                    url: '',
                    jsonData: [],
                    headers: [],
                    appheaderscol: ['stock_number', '_quote', 'rt_price', 'rt_量', 'highlight_date', '遠交易量o'],
                    filters: {},
                    uniqueValues: {},
                    //sortBy: 'highlight_date',
                    sortBy: 'MA_last_cross_date',
                    sortDesc: true,
                    dialog: false,
                    selectedItem: null,
                    realtimedata: [],
                    paraDate: null,

                };
            },
            created() {
                this.url = window.location.href.split('/').slice(0, 4).join('/') + '/Html/'
                if (window.location.host.indexOf("it-chang") !== -1) {
                    this.url = this.url.replace('PJ_stock/Html', 'PJ_Stock2')
                };
                let urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('mode')) {
                    // &mode=app 
                    this.appmode = urlParams.get('mode') == 'app';
                }
                if (urlParams.has('sync')) {
                    this.sync = urlParams.get('sync') == 'Y';
                }

                this.init();
            },
            computed: {
                appheaderData() {
                    return this.headers.filter(x => this.appheaderscol.includes(x.text))
                },
                appfilteredData() {
                    let cols = this.appheaderscol.slice() // 創造一個新的陣列副本
                    cols.push('Type0')
                    cols.push('Type')
                    cols.push('成交股數')
                    cols.push('now_price')

                    return this.filteredData.map(item => cols.reduce((acc, col) => ({ ...acc, [col]: item[col] }), {}))
                },

                filteredData() {
                    return this.jsonData
                }
            },
            methods: {
                paraDate_str() {
                    const d = new Date(this.paraDate);
                    return `${d.getFullYear()}/` +
                        `${String(d.getMonth() + 1).padStart(2, '0')}/` +
                        `${String(d.getDate()).padStart(2, '0')}`;
                },

                paraDateMinus(x) {
                    const d = new Date(this.paraDate);
                    d.setDate(d.getDate() - x);

                    return `${d.getFullYear()}/` +
                        `${String(d.getMonth() + 1).padStart(2, '0')}/` +
                        `${String(d.getDate()).padStart(2, '0')}`;
                },

                getHeaderStyle(headerText) {
                    const specialHeaders = ['盤後量', '成交量', '淨值倍率', '貝他值', '價能'];
                    if (specialHeaders.includes(headerText)) {
                        return 'background-color: #ffeb3b; color: #000;';
                    }
                    return '';
                },
                async init() {
                    await this.loadExcelData();
                    if (this.sync) {
                        await this.sync_realtime();
                    }
                    this.loadExcelData();
                },
                async sync_realtime() {
                    var vm = this
                    try {
                        console.log('Starting the process...');
                        const result = await main(this.filteredData)
                            .then(result => {
                                console.log('Promise result:', result);   // 處理結果
                                vm.realtimedata = result
                            })
                    } catch (error) {
                        console.error('Error in init:', error);  // 捕獲初始化過程中的錯誤
                    }
                    console.log('done');  // 確保這個訊息在主流程完成後顯示
                },
                openDialog(item) {
                    this.selectedItem = item;
                    this.dialog = true;
                },

                openNextPage(i) {
                    let urlParams = new URLSearchParams(window.location.search);
                    const date = this.paraDate;
                    date.setDate(date.getDate() + i);
                    const nextDateStr = date.toISOString().split('T')[0]; // Format YYYY-MM-DD
                    const url = window.location.href.replace(urlParams.get('date'), nextDateStr);
                    window.open(url, '_blank');
                },
                reset() {
                    var vm = this
                    vm.jsonData = vm.jsonData_
                    //vm.sortBy = ['highlight_date']
                },
                isNumberField(field) {
                    return field !== 'stock_number' && this.jsonData.some(item => {
                        const value = item[field];
                        return value != null && !isNaN(parseFloat(value)) && isFinite(value);
                    });
                },
                getMinValue(field) {
                    const values = this.jsonData
                        .map(item => parseFloat(item[field]))
                        .filter(value => !isNaN(value));
                    return values.length ? Math.min(...values) : 0;
                },
                getMaxValue(field) {
                    const values = this.jsonData
                        .map(item => parseFloat(item[field]))
                        .filter(value => !isNaN(value));
                    return values.length ? Math.max(...values) : 100;
                },
                sync_data() {
                    this.jsonData.forEach(item => {
                        var price = this.realtimedata.filter(x => x.c == item.stock_number)[0]?.a
                        item.rt_price = (((price / item.now_price) - 1) * 100).toFixed(1)
                        var vol = this.realtimedata.filter(x => x.c == item.stock_number)[0]?.v
                        item.rt_量 = (vol / parseFloat(item.成交股數)).toFixed(1)
                    })
                },
                async loadExcelData() {
                    let urlParams = new URLSearchParams(window.location.search);
                    file = './Result/check.xlsx'
                    if (urlParams.has('d')) {
                        if (urlParams.get('d') == 'M') {
                            file = './Result/checkmy.xlsx'
                        }
                        if (urlParams.get('d') == 'checkGreat') {
                            file = './Result/checkGreat.xlsx'
                        }
                        /**********************/
                        if (urlParams.get('d') == 'C') {
                            file = './Result/checkall/' + urlParams.get('date') + '.xlsx'
                            this.paraDate = new Date(urlParams.get('date'))
                            // https://itchang0615.github.io/PJ_stock/index.html?d=C&date=2025-01-21
                        }
                        /**********************/
                        if (urlParams.get('d') == 'O') {
                            file = './Result/checksun_others/' + urlParams.get('date') + '.xlsx'
                            this.paraDate = new Date(urlParams.get('date'))
                        }
                        /**********************/
                        this.type = urlParams.get('type');
                        if (urlParams.get('d') == 'A') {
                            file = './Result/checkall/' + urlParams.get('date') + '.xlsx'
                            this.paraDate = new Date(urlParams.get('date'))
                        }
                    }
                    await fetch(file)
                        .then(response => response.arrayBuffer())
                        .then(data => {
                            const workbook = XLSX.read(data, { type: 'array' });
                            const sheetName = workbook.SheetNames[0];
                            const worksheet = workbook.Sheets[sheetName];
                            const json = XLSX.utils.sheet_to_json(worksheet, { header: 1 });

                            if (json.length > 0) {
                                this.headers = json[0].map(header => ({ text: header, value: header }));
                                this.$renameHeaders(this.headers);
                                this.jsonData = json.slice(1).map(row => {
                                    const rowData = {};
                                    this.headers.forEach((header, i) => {
                                        rowData[header.value] = row[i];
                                    });
                                    return rowData;
                                });
                                if (this.realtimedata.length > 0) {
                                    this.sync_data()
                                }

                                arr = [
                                     'tt', 't_t','txt', 'txts','分類標籤', 'stock_number', '_quote', '成交股數', 'rt_量', 'now_price', 'rt_price', 'LevelArea',
                                    'MACD-SL',
                                    '營業毛利率', '營業利益率','均價long_%', '均價longlong_%',
                                    'diff_quote', '量能',
                                    //'MA_short', 'MA_long', 'MA_longlong', 'MA_longlonglong',
                                    'MACD_last_cross_date',
                                    'MA_last_cross_date', 'MA_last_cross_%', 'Type1',
                                    'voc_cross_d',
                                    'highlight_date',
                                    //'MA_death_cross_d',  'MA_death_cross_d2', 'MA_death_cross_d收盤價','MA_death_cross_d2收盤價',

                                    //'MACD_death_cross_d', 'MACD_death_cross_d2', 
                                    'MACD_death_cross_d收盤價', 
                                    //'MACD_death_cross_d2收盤價',

                                    'MACD_hist_diff',

                                     'highlight_stardate_1', 'highlight_enddate_1', 'highlight_stardate_2', 'highlight_enddate_2', 'highlight_stardate收盤價_1',
                                    'highlight_enddate收盤價_1', 'highlight_收盤價', 'highlight_stardate收盤價_2', 'highlight_enddate收盤價_2', 'highlight_%', 'highlight_%_1', 'highlight_%_2',
                                    '日期', '價能', 'cond_entry',
                                    'text_desc', '盤後量', '成交量',     '量倍率', 
                                    '%K', '%D', 'MA5_%', '均價_%', '均價long_%', '均價longlong_%',
                                    'MA_short', 'MA_long', 'MA_longlong', 'MA_longlonglong',
                                    'MACD_%', 'MACD',  
                                    'MACD-SL_max', 'MACDSL_%',
                                    '成交金額平均', '成交金額', 'Volume_MA_short', 'Volume_MA_long', 'Volume_MA_long50',
                                    //'Volume_Oscillator', 'volume_threshold',

                                    'VPC_MACD', 'Volume_Price_Change', 'highlight_enddate', 'MA_last_cross_date收盤價',

                                    'stock_name', 'Type0', 'Type2', '貝他值',
                                    '營業收入-上月比較增減(%)', '營業收入-去年同月增減(%)', '累計營業收入-前期比較增減(%)', 'Full_Summary', 'textdesc',
                                    '淨值倍率', '殖利率', '每股營收(元)', '本益比',  '同業平均本益比', '總市值', '營收比重',
                                    'Type', 'Typelevel',
                                    // '開盤價', '最高價', '最低價', '收盤價', '每股淨值(元)', 
                                    'desc', 'flag_stat',


                                    'MA_last_cross_d2', 'MA_last_cross_d2收盤價',
                                    'MA_death_cross',
                                    'MA_death_cross_d', 'MA_death_cross_d收盤價', 'MA_death_cross_d2', 'MA_death_cross_d2收盤價',
                                    //'MACD_death_cross_d', 'MACD_death_cross_d收盤價','MACD_death_cross_d2',
                                     'MACD_death_cross_d2收盤價',
                                ]

                                this.headers = arr.map(header => ({ text: header, value: header }));


                                this.headers.forEach(header => {
                                    if (this.isNumberField(header.value)) {
                                        this.$set(this.filters, header.value, [
                                            this.getMinValue(header.value),
                                            this.getMaxValue(header.value),
                                        ]);
                                    } else {
                                        this.$set(this.filters, header.value, []);
                                    }
                                    this.$set(this.uniqueValues, header.value, []);
                                });

                                this.jsonData.forEach(row => {
                                    this.headers.forEach(header => {
                                        const value = row[header.value];
                                        if (value != null) {
                                            const strValue = value.toString();
                                            if (!this.uniqueValues[header.value].includes(strValue)) {
                                                this.uniqueValues[header.value].push(strValue);
                                            } else {
                                            }
                                        }
                                    });
                                });
                                //# -- 
                                this.jsonData.map(x => x.txt = '-')
                                this.jsonData.map(x => x.txts = '-')
                                this.jsonData.map(x => x.tt = '-')
                                this.jsonData.map(x => x.t_t = '-')
                                
                                this.jsonData.map(item => item.txt = (parseFloat(item['Volume_MA_long50']) / parseFloat(item['成交金額平均'])).toFixed(2))
                                this.jsonData.map(item => item.txts = (parseFloat(item['成交金額']) / parseFloat(item['Volume_MA_short'])).toFixed(2))
                                this.jsonData.map(x=>x.tt=(parseFloat(x.txt-x.txts)).toFixed(1))
                                this.jsonData.map(x=>x.t_t=(parseFloat(x.txts)*parseFloat(x.txt)).toFixed(1))
                                if(!!this.paraDate){
                                    this.jsonData.filter(item => item['MACD_last_cross_date'] >this.paraDate_str()).map(x => x.MACD_last_cross_date = '')
                                    this.jsonData.filter(item => item['MA_last_cross_date'] >this.paraDate_str()).map(x => x.MA_last_cross_date = '')
                                    this.jsonData.filter(item => item['voc_cross_d'] >this.paraDate_str().replaceAll('/','-')).map(x => x.voc_cross_d = '')                                    
                                }
                                //# -- 
                                this.jsonData.map(x=>x.營業毛利率=x.營業毛利率.replace('%', ''))
                                this.jsonData.map(x=>x.營業利益率=x.營業利益率.replace('%', ''))
                                
                                //# -- 
                                this.jsonData.filter(item => parseFloat(item['MACD']) < parseFloat(item['MACD-SL'])).map(x => x.MACD_last_cross_date = '')
                                this.jsonData.filter(item => parseFloat(item['均價long_%']) < 0).map(x => x.MA_last_cross_date = '')

                                if (this.type) {
                                    this.jsonData = this.jsonData.filter(x => x.Typelevel.includes(this.type));
                                }

                                this.jsonData_ = JSON.parse(JSON.stringify(this.jsonData))
                                Object.keys(this.uniqueValues).forEach(key => {
                                    this.uniqueValues[key] = this.uniqueValues[key].map(val => ({ text: val, value: val }));
                                    this.uniqueValues[key].sort((a, b) => a.text.localeCompare(b.text));
                                });
                            }

                            app.sortBy = ['MACD_last_cross_date', 'MA_last_cross_date', 'txt']
                            app.sortDesc = [true, true, true]

                            app.sortBy = ['MA_last_cross_date', 'txt']
                            app.sortDesc = [true, true]
                        })
                        .catch(error => console.error('Error loading Excel file:', error));
                },

                reverse(x) {
                    var vm = this
                    vm.jsonData = vm.jsonData_.filter(i => !vm.jsonData.map(x => x.stock_number).includes(i.stock_number))
                },
                dataCache() {
                    //app.jsonData=app.jsonData_.filter(x=>parseFloat(x.now_price)>parseFloat(x.highlight_enddate收盤價_1)&& parseFloat(x.now_price)>parseFloat(x.highlight_enddate收盤價_2)&&parseFloat(x.now_price)>parseFloat(x.highlight_stardate收盤價_2) &&parseFloat(x.now_price)>parseFloat(x.highlight_stardate收盤價_1)  &&x.highlight_stardate收盤價_1!=0 &&x.Type2!='上櫃' && x.highlight_date!='0')
                    app.sortBy = 'highlight_%'
                    return app.jsonData.sort(function (a, b) { return b['highlight_%'] - a['highlight_%']; })
                        .map((str, idx) => ({
                            key: idx + 1,   // 根據排序結果給 key (從 1 開始)
                            value: str.stock_number
                        }));
                },

                setCache() {
                    var vm = this
                    localStorage.setItem('cache', JSON.stringify(vm.dataCache()));
                    var cache = JSON.parse(localStorage.getItem('cache') || '[]')
                    app.jsonData.map(y => y.分類標籤 = (cache.find(x => x.value == y.stock_number)?.key + y.分類標籤))

                },
                getCache() {
                    var vm = this
                    localStorage.setItem('cachenew', JSON.stringify(vm.dataCache()));
                    var cachenew = JSON.parse(localStorage.getItem('cachenew') || '[]')
                    app.jsonData.map(y => y.分類標籤 = (cachenew.find(x => x.value == y.stock_number)?.key + y.分類標籤))

                    var cache = JSON.parse(localStorage.getItem('cache') || '[]')
                    app.jsonData.map(y => y.分類標籤 = (cache.find(x => x.value == y.stock_number)?.key + '->' + y.分類標籤))

                    app.jsonData.map(y => y.分類標籤 = (cachenew.find(x => x.value == y.stock_number)?.key < cache.find(x => x.value == y.stock_number)?.key ? 'T' : '') + '   ' + y.分類標籤)

                    /**/
                    var cache = JSON.parse(localStorage.getItem('cache') || '[]')
                    var cachenew = JSON.parse(localStorage.getItem('cachenew') || '[]')
                    //app.jsonData = app.jsonData.filter(y => (cachenew.find(x => x.value == y.stock_number)?.key < cache.find(x => x.value == y.stock_number)?.key))
                    app.jsonData.map(y => y.分類標籤 = (-cachenew.find(x => x.value == y.stock_number)?.key + cache.find(x => x.value == y.stock_number)?.key))

                },
                setCache2() {
                    localStorage.setItem('cache2', JSON.stringify(
                        app.jsonData_.filter(item => true
                            //&&  parseFloat( item['Volume_MA_short'])> parseFloat(item['Volume_MA_long50']*1.05) 
                            && parseFloat(item['Volume_MA_short']) > parseFloat(item['Volume_MA_long'])
                            && parseFloat(item['Volume_MA_long50']) > parseFloat(item['成交金額平均']) * 0.8
                            && parseFloat(item['MACD']) > parseFloat(item['MACD-SL'])
                            && parseFloat(item['now_price']) > parseFloat(item['MA_longlong'] * 1.05)
                            && parseFloat(item['成交股數']) > 1000
                        ).map(x => x.stock_number)
                    ))
                    app.jsonData = app.jsonData_.filter(item => true
                        //&&  parseFloat( item['Volume_MA_short'])> parseFloat(item['Volume_MA_long50']*1.05) 
                        && parseFloat(item['Volume_MA_short']) > parseFloat(item['Volume_MA_long'])
                        && parseFloat(item['Volume_MA_long50']) > parseFloat(item['成交金額平均']) * 0.8
                        && parseFloat(item['MACD']) > parseFloat(item['MACD-SL'])
                        && parseFloat(item['now_price']) > parseFloat(item['MA_longlong'] * 1.05)
                        && parseFloat(item['成交股數']) > 1000
                    )

                },
                getCache2() {
                    var a = JSON.parse(localStorage.getItem('cache2') || '[]')
                    var b = app.jsonData_.filter(item => true
                        //&&  parseFloat( item['Volume_MA_short'])> parseFloat(item['Volume_MA_long50']*1.05) 
                        && parseFloat(item['Volume_MA_short']) > parseFloat(item['Volume_MA_long'])
                        && parseFloat(item['Volume_MA_long50']) > parseFloat(item['成交金額平均']) * 0.8
                        && parseFloat(item['MACD']) > parseFloat(item['MACD-SL'])
                        && parseFloat(item['now_price']) > parseFloat(item['MA_longlong'] * 1.05)
                        && parseFloat(item['成交股數']) > 1000
                    ).map(x => x.stock_number)
                    app.jsonData = app.jsonData_.filter(x => b.filter(item => !a.includes(item)).includes(x.stock_number))

                },
                filter_test() {
                    var vm = this;
                    var alist =

                        app.jsonData_.map(x => ({
                            stock_number: x.stock_number,
                            stock_name: x.Type,
                            Ongoing: x.highlight_date != '0',
                            Check: (x.highlight_date != 0 ? parseFloat(x.now_price) : parseFloat(x.highlight_stardate收盤價_1)) > parseFloat(x.highlight_enddate收盤價_2),
                            Period: 1,
                            "date Start": x.highlight_stardate_1,
                            date_End: x.highlight_enddate_1,
                            "price Start": x.highlight_stardate收盤價_1,
                            price_End: x.highlight_date != 0 ? x.now_price : x.highlight_enddate收盤價_1,
                            u_gain: (parseFloat(((x.highlight_date != 0 ? x.now_price : x.highlight_enddate收盤價_1) - x.highlight_stardate收盤價_1) / x.highlight_stardate收盤價_1) * 100).toFixed(1),
                            u_gaind: ((Math.abs(new Date(x.highlight_enddate_1) - new Date(x.highlight_stardate_1))) / (1000 * 60 * 60 * 24))
                        })
                        ).concat(
                            app.jsonData_.map(x => ({
                                stock_number: x.stock_number,
                                stock_name: x.Type,
                                Ongoing: x.highlight_date != '0',
                                Period: 2,
                                "date Start": x.highlight_stardate_2,
                                date_End: x.highlight_enddate_2,
                                "price Start": x.highlight_stardate收盤價_2,
                                price_End: x.highlight_enddate收盤價_2,
                                u_gain: ((parseFloat(x.highlight_enddate收盤價_2 - x.highlight_stardate收盤價_2) / x.highlight_stardate收盤價_2) * 100).toFixed(1),
                                u_gaind: ((Math.abs(new Date(x.highlight_enddate_2) - new Date(x.highlight_stardate_2))) / (1000 * 60 * 60 * 24))
                            }))
                        )
                            .filter(x => x.Check && x.Ongoing && x.u_gain > 1 && x.u_gaind > 10)
                            .map(x => x.stock_number)

                },
                memo() {
                    var cache = JSON.parse(localStorage.getItem('cache') || '[]')
                    var cachenew = JSON.parse(localStorage.getItem('cachenew') || '[]')
                    app.jsonData = app.jsonData.filter(y => (cachenew.find(x => x.value == y.stock_number)?.key < cache.find(x => x.value == y.stock_number)?.key))
                    app.jsonData.map(y => y.分類標籤 = (+cachenew.find(x => x.value == y.stock_number)?.key + cache.find(x => x.value == y.stock_number)?.key))

                    //-----
                    app.jsonData = app.jsonData_.filter(x => x.MA_last_cross_date >= '2025/12/01')
                    app.sortBy = ['LevelArea', 'txt', 'MA_last_cross_date', 'rt_量',];
                    app.sortBy = ['分類標籤', 'txt', 'MA_last_cross_date', 'rt_量',];
                    app.sortDesc = [true, true, true, true]


                    //  排序 MACD_last_cross_date 搭大量 ==> 走短線(txt>2)
                    //  排序 MA_last_cross_date  幾天後出量 ==> 看長線(txt 約 0.5) ， MA 5/10 /20/50  翻多 80不一定

                    app.jsonData = app.jsonData_.filter(x => true
                                            && x.LevelArea <= -50 
                                            && x.now_price> x.MACD_death_cross_d收盤價    
                                            && x['MACD_last_cross_date'] != ''
                                            //&& x['MA_last_cross_date'] != ''
                                            )
                    

                    app.jsonData = app.jsonData_.filter(x => true
                                            && x.LevelArea > -50 && x.LevelArea < 90 
                                            && x.now_price> x.MACD_death_cross_d收盤價    
                                            && x['MACD_last_cross_date'] != ''
                                            //&& x['MA_last_cross_date'] != ''
                                            )
                    app.jsonData = app.jsonData_.filter(x =>true
                                //&&  x.diff_quote>8 &&  x.diff_quote<16
                                && x.LevelArea > -80 
                                && parseFloat(x['MA_last_cross_%'] ) < 10
                                && parseFloat(x['MA_last_cross_%'] ) > 0
                                )
                    app.jsonData = app.jsonData_.filter(x =>true
                                && parseFloat(x['均價longlong_%']) <0
                                && parseFloat(x['MA_short']) <parseFloat(x['MA_longlonglong']) 
                                )
                    /* !!!!!!!!!!!!!!!!!!!!!!!!!
                    '均價long_%', '均價longlong_%',
                    'diff_quote', '量能',
                    'MA_short', 'MA_long', 'MA_longlong', 'MA_longlonglong',
                    */
                    app.jsonData = app.jsonData_.filter(x =>true
                                //&& parseFloat(x['均價long_%']) <0 && parseFloat(x['均價longlong_%']) >0
                                && parseFloat(x['MA_longlong']) > parseFloat(x['MA_long']) 
                                && parseFloat(x['MA_short']) > parseFloat(x['MA_longlonglong']) 
                                )
                    app.sortBy = ['MA_last_cross_date','MACD_last_cross_date']
                    app.sortDesc = [true,true]     
              


                    app.jsonData = app.jsonData_.filter(x => x.成交股數<250)

                    alist=['2520','2201','3211','3707','2329','3211','3260']
                    app.jsonData = app.jsonData_.filter(x => alist.includes(x.stock_number))

                    //----
                    //Volume_MA_short  成交金額平均
                    //'營業收入-上月比較增減(%)', '營業收入-去年同月增減(%)', '累計營業收入-前期比較增減(%)',
                    // txt  => 遠期交易量
                    // txts => 近期交易量
                    app.jsonData = app.jsonData_.filter(x => true
                            && x.LevelArea >= -50 
                            && x.LevelArea < 99
                            // && parseFloat(x['txt'] )>0.1
                            // && parseFloat(x['txt'] )>0.7 && parseFloat(x['txt'] )<1.5
                            // && parseFloat(x['txts'] )<1.5
                            && parseFloat(x['營業利益率'] )>0
                            && parseFloat(x['累計營業收入-前期比較增減(%)'] )>0
                            //&& ( x['分類標籤'].includes('d') ||  x['分類標籤'].includes('b'))
                            //&&  x['分類標籤'].includes('c')  
                            //&& x.成交股數>200
                            && parseFloat(x['均價long_%'] )>0
                            && parseFloat(x['均價longlong_%'] )>0
                    )
                    app.jsonData = app.jsonData_.filter(x => true
                              && x.LevelArea >= -50 
                              && x.LevelArea < 99
                              && parseFloat(x['txt'] )<0.4
                    )
                    app.sortBy = ['tt','txts']
                    app.sortDesc = [true,true]     

                    app.sortBy = ['MA_last_cross_date','voc_cross_d','MACD-SL','營業利益率','tt']
                    app.sortDesc = [true,true,true]     

                    app.jsonData = app.jsonData_.filter(x =>  true   && parseFloat(x['量能'] )>20
                            && x.LevelArea >= -50 
                            && x['分類標籤'].includes('1')
                            && parseFloat(x['營業利益率'] )>0
                            && parseFloat(x['累計營業收入-前期比較增減(%)'] )>0
                    )
                    app.jsonData = app.jsonData_.filter(x =>  true   
                           
                            && x['分類標籤'].includes('c')
                            && parseFloat(x['營業利益率'] )>0
                            && parseFloat(x['累計營業收入-前期比較增減(%)'] )>0
                    )
                    //--
                    app.jsonData = app.jsonData_.filter(x=>true
                            && x.LevelArea >= -50 
                            //&& x.diff_quote>0 
                            && x.成交股數>150 
                            && x.Type1!='生技醫療業' 
                            && x.Type1!='塑膠工業' 
                            && x.Type1!='金融保險' 
                            && x.Type1!='鋼鐵工業' 		
                            && parseFloat(x['均價long_%'] )>0
                            && parseFloat(x['均價longlong_%'] )>1
                            && x['MACD_last_cross_date'] != ''
                            && x['MA_last_cross_date'] != ''
                            &&  x['MACD_last_cross_date'] > '2025/11/01'
                            &&  x['MA_last_cross_date']> '2025/11/01'
                            &&  x['voc_cross_d']> '2025-11-01'
                    )

                    app.sortBy = ['MACD_last_cross_date','MA_last_cross_date','LevelArea','diff_quote','均價long_%','tt','MACD-SL','voc_cross_d','highlight_date','tt', '營業利益率']
                    app.sortDesc = [true,true,true] 

                }
            }
        });
    </script>
</body>

</html>
